.scroll-wrapper {
  overflow-x: auto;
}

.scroll-images img {
  margin-right: 10px;
  width: 150px;
  height: auto;
  border-radius: 8px;
}

.card-game {
  background-color: #2c2c2c;
  border: none;
  color: white;
  transition: transform 0.2s;
}

.card-game:hover {
  transform: scale(1.05);
}